
# Entornos temporales
.venv/
.venv_roto/

# Variables de entorno
.env

# Archivos temporales de Python
__pycache__/
*.pyc

# Otras cosas
.vscode/
.ipynb_checkpoints/

# Logs y cache
*.log
.pytest_cache/

# Cachés de LangGraph
.langgraph/

# Datos y bases de datos
*.db
*.sqlite
*.sqlite3
*.csv

# Bases vectoriales locales
vector_db/

# Otros insumos
**/documentos_terminales/*
**/AGENTS.md
**/guia_rapida_terminal.md
**/versiones
**/guia_rapida_git.md
